
<div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <h4 class="mb-3">Bank Information / Informação bancária</h4>

    <div class="lead-info" dir="auto">You can choose to receive your payment through Paypal, PagSeguro or conventional bank accounts / Você pode optar em receber seu pagamento pelo Paypal, PagSeguro ou contas bancarias convencionais</div>
    
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" (submit)="SalvarBanco($event)">
          
            <div class="mb-3">
                <label for="bancoBeneficiario">Nome/Name:  </label>
                <input type="text" class="form-control" id="bancoBeneficiario" name="bancoBeneficiario" [(ngModel)]="talento.banco.bancoBeneficiario">
            </div>
            
            <div class="mb-3">
                <label for="bancoCpf">Only for Brazilians / CPF </label>
                <input type="text" class="form-control" id="bancoCpf" name="bancoCpf" [(ngModel)]="talento.banco.bancoCpf">
            </div>

            <div class="mb-3">
              <label for="bancoNome">Bank / Banco ( Itau, Bradesco, ect..) </label>
              <input type="text" class="form-control" id="bancoNome" name="bancoNome" [(ngModel)]="talento.banco.bancoNome">
            </div>

            <div class="mb-3">
              <label for="bancoAgencia">Agency / Agencia </label>
              <input type="text" class="form-control" id="bancoAgencia" name="bancoAgencia" [(ngModel)]="talento.banco.bancoAgencia">
            </div>

            <div class="row">
                <label for="bancoConta">Account Number / Número da conta</label>
                <input type="text" class="form-control" id="bancoConta" name="bancoConta" [(ngModel)]="talento.banco.bancoConta">
            </div>           
       
            <h4 class="mb-3">Account Type / Tipo de conta</h4>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="bancoContaCorrente" id="bancoContaCorrente" [(ngModel)]="talento.banco.bancoContaCorrente">
              <label class="custom-control-label" for="bancoContaCorrente">Chain / Corrente</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="bancoContaPoupanca" id="bancoContaPoupanca" [(ngModel)]="talento.banco.bancoContaPoupanca">
              <label class="custom-control-label" for="bancoContaPoupanca">Savings / Poupança</label>
            </div>

            <hr class="mb-4">
           
            <a [routerLink]="['/talento/',talento.id]" class="btn btn-primary">Voltar</a>
            <button type="submit" class="btn btn-primary">
                proximo
            </button>
          
          </form>
        </div>
      </div>