
<div class="py-5">
    <h2>Banco de Talentos </h2>
</div>

<div class="row">
  <div class="col-md-12">
      <form>
           <div class="input-group">
              <span class="input-group-btn">
                  <a [routerLink]="['']" class="btn btn-primary">
                      Novo
                  </a>
              </span>
               <!-- campo para filtrar pelo titulo -->
               <input #filtro (keyup)="0" class="form-control col-md-4" placeholder="filtrar">
              
          </div> 
      </form>
  </div> <!-- fim col-md-12 -->
</div> <!-- fim row -->
<br>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th></th>
          <th>E-mail</th>
          <th>Soma das habilidades</th>
          <th>pretensao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let talento of talentos">
          <td> 
              <a [routerLink]="['/talento/basic/',talento.id]" class="btn btn-primary"> editar </a>
              <a class="btn btn-default" (click)="excluir(talento.id)"> excluir  </a>
          </td>
          <td>{{talento.nome}}</td>
          <td>0</td>
          <td>{{talento.pretensao}}</td>
        </tr>
       
        
      </tbody>
    </table>
  </div>