<!-- <h1>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h1> -->

<!-- <app-signup></app-signup> -->
<!-- <app-formdemobasics></app-formdemobasics> -->

<div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <h4 class="mb-3">Knowledge / Conhecimentos</h4>

    <div class="lead-info" dir="auto">Rate yourself from 0 to 5 for the knowledge specified below, and that's okay if you do not know many things, the important thing is to be honest! / Avalie-se de 0 a 5 quanto aos conhecimentos especificados abaixo, e tudo bem se não souber de muitas coisas, o importante é que seja sincero!</div>
    
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" (submit)="SalvarConhecimento($event)">
               
            <div class="row" *ngFor="let conhecimento of talento.conhecimentos">
                <h4 class="mb-3"> - {{conhecimento.titulo}}</h4>
                <div class="col-md-3">
                    Nao conheco / I don't know
                </div>
                <div class="col-md-7">
                    <label class="radio-inline" for="radios-0">
                            
                        <input name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="0"  [(ngModel)]="conhecimento.nivel" >
                        0
                    </label> 
                    <label class="radio-inline" for="radios-1">
                        <input  name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="1"  [(ngModel)]="conhecimento.nivel" >
                        1
                    </label> 
                    <label class="radio-inline" for="radios-2">
                        <input  name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="2"  [(ngModel)]="conhecimento.nivel" >
                        2
                    </label> 
                    <label class="radio-inline" for="radios-3">
                        <input  name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="3"  [(ngModel)]="conhecimento.nivel" >
                        3
                    </label>
                    <label class="radio-inline" for="radios-4">
                        <input  name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="4"  [(ngModel)]="conhecimento.nivel" >
                        4
                    </label>
                    <label class="radio-inline" for="radios-5">
                        <input  name="conhecimento-{{conhecimento.id}}" ng-control="conhecimento" type="radio" [value]="5"  [(ngModel)]="conhecimento.nivel" >
                        5
                    </label>
                </div>
                <div class="col-md-2">
                  Senior
                </div>
            
              <hr class="mb-4">

            </div>
            
            <br> <br>

            <a [routerLink]="['/talento/banco/',talento.id]" class="btn btn-primary">Voltar</a>
            <button type="submit" class="btn btn-primary">
                proximo
            </button>
          </form>
        </div>
    </div>
        