<!-- <h1>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h1> -->

<!-- <app-signup></app-signup> -->
<!-- <app-formdemobasics></app-formdemobasics> -->

<div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <h4 class="mb-3">Knowledge / Conhecimentos</h4>

    <div class="lead-info" dir="auto">Rate yourself from 0 to 5 for the knowledge specified below, and that's okay if you do not know many things, the important thing is to be honest! / Avalie-se de 0 a 5 quanto aos conhecimentos especificados abaixo, e tudo bem se não souber de muitas coisas, o importante é que seja sincero!</div>
    
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate>
               
            <h4 class="mb-3">Ionic</h4>
            <div class="row">
                <div class="col-md-4">
                    Nao conheco / I don't know
                </div>
                <div class="col-md-6">
                    <label class="radio-inline" for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                        1
                    </label> 
                    <label class="radio-inline" for="radios-1">
                        <input type="radio" name="radios" id="radios-1" value="2">
                        2
                    </label> 
                    <label class="radio-inline" for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="3">
                        3
                    </label> 
                    <label class="radio-inline" for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="4">
                        4
                    </label>
                    <label class="radio-inline" for="radios-5">
                        <input type="radio" name="radios" id="radios-5" value="5">
                        5
                    </label>
                </div>
                <div class="col-md-2">
                  Senior
                </div>
              </div>
            
              <hr class="mb-4">

            <h4 class="mb-3">SQL Server</h4>

            <div class="row">
                <div class="col-md-4">
                    Nao conheco / I don't know
                </div>
                <div class="col-md-6">
                    <label class="radio-inline" for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                        1
                    </label> 
                    <label class="radio-inline" for="radios-1">
                        <input type="radio" name="radios" id="radios-1" value="2">
                        2
                    </label> 
                    <label class="radio-inline" for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="3">
                        3
                    </label> 
                    <label class="radio-inline" for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="4">
                        4
                    </label>
                    <label class="radio-inline" for="radios-5">
                        <input type="radio" name="radios" id="radios-5" value="5">
                        5
                    </label>
                </div>
                <div class="col-md-2">
                  Senior
                </div>
              </div>

            <hr class="mb-4">
            <a href="#" class="btn btn-primary btn-primary">Voltar</a>
            <a href="#" class="btn btn-primary btn-primary">Enviar</a>
          </form>
        </div>