
<div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <div class="lead-info" dir="auto"><br><a href="https://www.google.com/url?q=https://youtu.be/teXgoCzunVE&amp;sa=D&amp;ust=1524316962477000&amp;usg=AFQjCNFXbqUEEOGobSbhhoN_xtuxJ_bk9Q">https://youtu.be/teXgoCzunVE</a><p>We appreciate your contact, check that you do not need to fill out the full form if already has this information on its linkedin, and check out the links at the end of the tutorials (developers).</p><p>Já agradecemos o seu contato, confira que você não precisa preencher o formulário completo caso já tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (desenvolvedores).</p><p>How we work / Como trabalhamos: <a href="https://www.google.com/url?q=https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM&amp;sa=D&amp;ust=1524316962477000&amp;usg=AFQjCNGnkLRuCrG06n7MIWVn2-atqQDpzw">https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM</a><br></p><p></p><p></p></div>
    
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate>
                
            <div class="mb-3">
              <label for="email">Email <span class="text-muted">*</span></label>
              <input type="email" class="form-control" #email id="email" >
              <div class="invalid-feedback">
                    This is a required question
              </div>
            </div>
            
            <hr class="mb-4">
            
            <a (click)="buscarPorEmail(email.value)" class="btn btn-primary">proximo</a>
            
          </form>
        </div>