    <div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <h4 class="mb-3">{{talento.nome}}</h4>

    <div class="lead-info" dir="auto">Seu cadastro foi finalizado com successo, nossa equipe irá analisar o conteudo e você receberá a resposta em brave.</div>

    <br>
    <br>

    <a href="/" class="btn btn-primary">voltar para home</a>
    <a [routerLink]="['/talento/listagem/']" class="btn btn-primary">ir para listagem</a>
            