
<div class="py-5 text-center">
        <h2>Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h2>
    </div>

    <h4 class="mb-3">Occupation area /Área de atuação</h4>

    <div class="lead-info">If you are a developer or DBA, continue filling out this form / Se você atua como desenvolvedor ou DBA, continue o preenchimento deste formulário<p>If you act as a designer, fill out the form available at / Se você atua como designer, preencha ao formulário disponível em <a href="https://www.google.com/url?q=https://goo.gl/forms/UJl8Oa91ubN3HRUm1&amp;sa=D&amp;ust=1524320450091000&amp;usg=AFQjCNFaiOaskEoaD48MpnLxoxQCYv4T_g">https://goo.gl/forms/UJl8Oa91ubN3HRUm1</a></p><p>If you work in the administrative, customer service or commercial area, fill out the form available at / Se você atua na área administrativa, atendimento ao cliente ou comercial, preencha ao formulário disponível em  <a href="https://www.google.com/url?q=https://goo.gl/forms/0M99jjUwnIAw0flJ2&amp;sa=D&amp;ust=1524320450092000&amp;usg=AFQjCNEmNjTeAOc1bJk3eSWRfbz4STXgng">https://goo.gl/forms/0M99jjUwnIAw0flJ2</a><br></p><p></p></div>
    
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate>
                
            <div class="mb-3">
                <label for="nome">Nome/Name:  <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="nome" >
                <div class="invalid-feedback">
                        This is a required question
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="skype">Skype: ( please create an account if you don't have yet / bom criar caso não tenha) <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="skype" required>
                <div class="invalid-feedback">
                        This is a required question
                </div>
            </div>

            <div class="mb-3">
              <label for="telefone">Telefone/Phone (Whatsapp): <span class="text-muted">*</span></label>
              <input type="text" class="form-control" id="telefone" >
            </div>

            <div class="mb-3">
              <label for="linkedin">Linkedin: <span class="text-muted">*</span></label>
              <input type="text" class="form-control" id="linkedin" >
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" required>
                <div class="invalid-feedback">
                        This is a required question
                </div>
              </div>
              <div class="col-md-6">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" required>
                <div class="invalid-feedback">
                        This is a required question
                </div>
              </div>
              
            </div>           
            
            <div class="mb-3">
                <label for="portfolio">Portifolio: </label>
                <input type="text" class="form-control" id="portfolio" >
            </div>

            <h4 class="mb-3">What is your willingness to work today? / Qual é sua disponibilidade para trabalhar hoje? *</h4>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="1">
              <label class="custom-control-label" for="1">Up to 4 hours per day / Até 4 horas por dia</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="2">
              <label class="custom-control-label" for="2">4 to 6 hours per day / De 4 á 6 horas por dia</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3">6 to 8 hours per day /De 6 á 8 horas por dia</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4">Up to 8 hours a day (are you sure?) / Acima de 8 horas por dia (tem certeza?)</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5">Only weekends / Apenas finais de semana</label>
            </div>

            <hr class="mb-4">

            <h4 class="mb-3">What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar? *</h4>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="1">
              <label class="custom-control-label" for="1">Morning (from 08:00 to 12:00) / Manhã (de 08:00 ás 12:00)</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="2">
              <label class="custom-control-label" for="2">Afternoon (from 1:00 p.m. to 6:00 p.m.) / Tarde (de 13:00 ás 18:00)</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3">Night (7:00 p.m. to 10:00 p.m.) /Noite (de 19:00 as 22:00)</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4">Dawn (from 10 p.m. onwards) / Madrugada (de 22:00 em diante)</label>
            </div>
            <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5">Business (from 08:00 a.m. to 06:00 p.m.) / Comercial (de 08:00 as 18:00)</label>
            </div>
            
            <hr class="mb-4">

            <a [routerLink]="['/talento/1']" class="btn btn-primary">Voltar</a>
            <a [routerLink]="['/talento/banco/1']" class="btn btn-primary">proximo</a>

          </form>
        </div>